.account-settings h3,
.search-history h3 {
  font-family: Inter;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -1%;
  color: #1a1d1f;
}
.search-history p {
  font-family: Inter;
  font-weight: 600;
  font-size: 9px;
  line-height: 16px;
  letter-spacing: 8%;
  color: #6f767e;
}
